
<% if(is_archive()){ %>
    <% page.title = __('文章归档') %>
    <%- partial('_partial/header',{name:'archive'}) %>
    <%
        var years = {};
        var PageNum = 0;
        var PageYear = 0;
        site.posts.sort('date').reverse().forEach(function(post){
            var year = post.date.year()
            if(years[year]===undefined){
                years[year] = [];
                PageYear += 1;
            }
            years[year].push(post);
            PageNum += 1;
        });
    %>
<% }else if(is_category()){ %>
    <% page.title = __("文章分类：" + page.category) %>
    <%- partial('_partial/header',{name:'categories'}) %>
    <%
        var years = {};
        site.posts.sort('date').reverse().forEach(function(post){
            const categorys = post.categories;
            if(categorys.length < 1) return
            categorys.data.map((cat)=>{
                if(page.category === cat.name){
                    var year = post.date.year()
                    if(years[year]===undefined){
                        years[year] = [];
                    }
                    years[year].push(post);
                }
            })
        });
    %>
<% } %>


<div class="archive">
    <% if(is_archive()){ %>
        <%- partial('_widget/header_body',{message:theme.headers.archives.message.replace('year', PageYear).replace('number', PageNum),icon:theme.headers.archives.icon}) %>
    <% }else if(is_category()){%>
        <%- partial('_widget/header_body',{message:"文章分类："+page.category,icon:theme.headers.categories.icon}) %>
    <% } %>
    <div class="archive-content" id="content">
        <div class="archive-content-data">
            <%- partial('_widget/grouping',{data:years,keys:Object.keys(years).reverse()}) %>
        </div>
    </div>    
</div>



