<%- partial('_partial/header',{name:'links'}) %>
<div class="links">
    <%- partial('_widget/header_body',{message:theme.headers.links.message,icon:theme.headers.links.icon}) %>
    <div class="links-content" id="content">
        <div class="links-content-data">
            <% for(const each of theme.linksList || []) { %>
                <div class="links-content-data-item">
                    <a href="<%- each.link %>">
                        <div class="card">
                            <div class="user-link-image">
                                <img src="<%- each.image %>" alt="Quiet">
                            </div>
                            <div class="user-link-info">
                                <h1>
                                    <%- each.title %>
                                </h1>
                                <span>
                                    <%- each.intro %>
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <% } %>
                <div id="article" class="links-content-data-info">
                    <%- page.content %>
                </div>
        </div>
        <div id="<%- page.comments ? 'gitalk-container' : ''%>"></div>
    </div>
</div>
            