<%- css('css/tag.css') %>
<%- partial('_partial/header',{name:'tags'}) %>
<%
    var date_cursor = 'xxx'
    page.title =  "标签:" + page.tag
%>
<div class="header-bg">
    <div class="bg-content">
        <span>
            <img src="<%- theme.topIcon.tagIcon %>" alt="Q">
        </span>
        <h2> <%- page.tag %> </h2>
    </div>
</div>
<div class="article-content">
    <div id="article" class="content">
        <div class="list-group">
            <% page.posts.each(function (post) { %>
            <% if(date(post.date, "YYYY") != date_cursor) { %>
            <% date_cursor = date(post.date, "YYYY") %>
            <p class="h5"><%= date_cursor %></p>
            <% } %>
            <a href="<%- url_for(post.path) %>" class="list-group-item list-group-item-action">
                <span class="archive-post-title"><%= post.title %></span>
                <time style="float: right;"><%- date(post.date, "MM-DD") %></time>
            </a>
            <% }) %>
        </div>
    </div>
</div>
<script>$(function () { $('.article-content').addClass('content-move') });</script>