<%
var title = theme.title
if (page.title) {
  title = page.title
}
%>
<title><%= title %>-<%- theme.suffix %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="<%- theme.icon %>">
<%- css('css/index.css') %>
<% if(page.tags && page.tags.data.length) { 
  let text = ''
  %>
<% page.tags.data.forEach((item, index) => {
    text += item.name + ','
}) %>
<meta name="keywords" content="<%- text %>">
<meta name="description" content="<%- page.excerpt %>">
<% }else{ %>
<meta name="keywords" content="<%- theme.keyword %>">
<meta name="description" content="<%- theme.web_description %>">
<% } %>
<%- js('js/jquery.min.js') %>
<%- js('js/index.js') %>
<%- js('js/fancybox.umd.js') %>
<%- js('js/fancybox-images.js') %>
<%- js('js/gitalk.min.js') %>
<%- js('js/hljs.min.js') %> 
<script>hljs.highlightAll();</script>
