<div class="home">
	<%- partial('_widget/header_body',{message:theme.headers.home.message,icon:theme.headers.home.icon}) %>
	<div class="main">
		<div class="feed" id="content">
			<% page.posts.each(function (post,i) { %>
				<div class="feed-display">
					<a href="<%- url_for(post.path) %>">
						<h2 class="feed-title">
							<%= post.title %>
						</h2>
						<% if(post.cover){ %>
							<img src="<%= post.cover %>" alt="Quiet">
							<% }else{ %>
								<img src="<%- theme.default_cover %>" alt="Quiet">
								<% } %>
					</a>
					<div class="feed-meat">
						<div class="meat-info">
							<div class="info-auth">
									<a href="<%- post.categories.data[0] && post.categories.data[0].path %>">
										<%- post.categories.data[0] ? post.categories.data[0].name : theme.author ? theme.author : 'Quiet' %>
									</a>
							</div>
							<div class="info-data">
								<%- date(post.date, "YYYY-MM-DD" ) %>
							</div>
						</div>
						<div class="meat-type"></div>
					</div>
				</div>
				<% }) %>
		</div>
	</div>
	<div class="change-page">
		<% if(page.prev !==0){ %>
			<div class="p-page">
				<a href="<%- url_for(page.prev_link) %>">
					<div class="previous">
						上一页
					</div>
				</a>
			</div>
			<% } %>
				<% if(page.next !==0){ %>
					<div class="n-page">
						<a href="<%- url_for(page.next_link) %>">
							<div class="next">
								下一页
							</div>
						</a>
					</div>
					<% } %>
	</div>
	
</div>