<div class="post-header-background <%- theme.is_article_img?'post-header-img':'post-header-color'  %>"
    style="background: url('<%- theme.is_article_img ?  theme.default_cover : null %>')" 
>
    <div class="post-header-background-content">
        <ul class="post-header-tag">
            <% if(page.tags && page.tags.data.length) { %>
            <% page.tags.data.forEach((item, index) => { %>
            <li><a href="/tags/<%- item.name %>"><%= item.name %></a></li>
            <% }) %>
            <% } %>
        </ul>
        
        <h1><%- page.title %></h1>
        <div class="post-header-info">
            <div class="post-header-info-author">
                <% if(theme.is_article_img) { %>
                    <svg t="1604839279282" class="icon" viewBox="0 0 1024 1024" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" p-id="2901" width="20" height="20">
                        <path
                            d="M513 956.3c-247.7 0-448-200.3-448-448S265.3 66.2 513 66.2s448 200.3 448 448-200.3 442.1-448 442.1z m0-830.9c-212.2 0-388.8 170.7-388.8 388.8C124.2 726.3 294.9 903 513 903c212.2 0 388.8-170.7 388.8-388.8S725.2 125.4 513 125.4z m0 430.2c-94.2 0-170.7-76.5-170.7-170.7S418.8 207.8 513 207.8s170.7 76.5 170.7 170.7S607.2 555.6 513 555.6z m0-289.1c-64.6 0-112 52.8-112 112s47.4 117.9 112 117.9 112-52.8 112-112-47.4-117.9-112-117.9z m0 689.8c-135.7 0-259-58.7-341.9-158.9l-11.8-17.8 11.8-17.8c76.5-117.9 206.2-188.5 347.8-188.5 135.7 0 265 64.6 341.9 182.6l11.8 17.8-11.8 17.8C778 897.1 648.7 956.3 513 956.3zM230.3 773.2C300.9 849.7 406.9 897 513 897c112 0 218.1-47.4 288.6-129.8-70.5-88.2-170.7-135.6-282.7-135.6s-218.1 53.3-288.6 141.6z"
                            p-id="2902" fill="#ffffff"></path>
                    </svg>
                    <% }else{ %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <g>
                            <path fill="#12183A"
                                d="M6.187 15.265A6.47 6.47 0 0 0 10 16.5a6.47 6.47 0 0 0 3.813-1.235A4.99 4.99 0 0 0 10 13.5a4.99 4.99 0 0 0-3.813 1.765zM5.082 14.25A6.485 6.485 0 0 1 10 12c1.965 0 3.726.872 4.918 2.25a6.5 6.5 0 1 0-9.836 0zM10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0-1.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z">
                            </path>
                        </g>
                    </svg>
                <% } %>
                <span class="post-header-info-author-text"> <a href="<%- page.aubot_link ? page.aubot_link : '../../about' %>"><%- page.aubot ? page.aubot : theme.author %></a></span>
                <div class="post-header-info-author-categories">
                    <% page.categories.data.map((cat)=>{ %>
                         <a href="../../<%- cat.path %>" target="_blank" ><%- cat.name %></a>
                    <% }) %>
                </div>
                <p><%- date(page.date, "YYYY-MM-DD HH:mm:ss") %></p>
            </div>
        </div>
    </div>
</div>